<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net>
		<appender name="CommonLogAppender" type="log4net.Appender.RollingFileAppender" >
			<File value=".\logs\App.log" />
			<RollingStyle value="size" />
			<AppendToFile value="true" />
			<MaximumFileSize value="10MB" />
			<MaxSizeRollBackups value="10" />
			<layout type="log4net.Layout.PatternLayout">
				<ConversionPattern value="%date [%thread] [%-5level] %logger:%message%n" />
			</layout>
		</appender>
		<root>
			<level value="Debug" />
			<appender-ref ref="CommonLogAppender" />
		</root>
	</log4net>
</configuration>
